.container {
    margin-top:50px;
}

#heading{
    font-size:48px;
}

.form {
    margin:auto;
    width:80%;
}

#deletebutton {
    position:relative;
    left:5.77px;
    top:5.7px;
}
#updatebutton {
    position: relative;
    top:5.7px;
}

#recipetitle {
    position:relative;
    left:12.7px;
    color: lawngreen;
    text-decoration: none;
}

#recipecard {
    background-color: lightslategray;
}

@media(max-width: 524px)
{
    #displaySMdown {
        display:none;
    }
}

@media(min-width: 524px) {
    #displayXSdown {
        display:none;
    }
}

@media(min-width: 767.9px)
{
    #displaySMdown {
        display:none;
    }
    #displayXSdown {
        display:none;
    }
}

@media(max-width:767.99px) {
    #displayMDup {
        display:none;
    }
}
/* @media(max-width:900px) {
    #welcomeheader {
        display:none;
    }
} */

/* @media(max-width: 767px)
{
    .container {
        display:none;
    }
}


@max-width:(900px) {
    
}
*/
