.container {
    margin-top:50px;
}

#heading{
    font-size:48px;
}

.form {
    margin:auto;
    width:80%;
}

#deletebutton {
    position:relative;
    left:5.77px;
    top:5.7px;
}
#updatebutton {
    position: relative;
    top:5.7px;
}
/* @media(max-width:900px) {
    #welcomeheader {
        display:none;
    }
} */

/* @media(max-width: 767px)
{
    .container {
        display:none;
    }
}


@max-width:(900px) {
    
}
*/
